body    {
    background-image:url(https://media.gettyimages.com/vectors/colorful-geometric-background-vector-id1141259289?s=612x612);
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size:200em;
}
h1  {
    color: whitesmoke
}
.socialLogo {
    height: 20px;
    padding-left: 20px;
}

/* .socialLogo:hover {
    color: blue !important;
} */

p {
    padding-top: 10px;
}



h4 {
    background-color: transparent;
    padding-top: 10px;
}

